# Don't to save output files to GIT.
# The results as artifacts laying around in working files can be used as needed to compare with previous test.
/*RunRegressionTest*.TSTool
/*out*.txt
/*out*.csv
/*out*.xlsx
/*log
/x*
