# Don't to save output files to the repository.
# The results as artifacts laying around in working files can be used as needed to compare with previous test.
/*.TSTool
/*.tstool
# The following should no longer be needed since output in in a results folder.
/*out*.txt
/*out*.csv
/*out*.xlsx
/*log
/x*
